.button {
  display: block;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;

  color: @alt-font-color;
  font-size: @font-big;
  line-height: @wide-line-height;
  font-weight: 700;

  background-color: @theme-color;
}
