.gallery__text {
  padding: 0;
  margin: 0;
  padding-left: 23px;
  padding-right: 23px;
  margin-top: 27px;
  margin-bottom: 27px;

  font-size: @font-small;
  line-height: @medium-line-height;
  font-weight: 400;
  text-align: center;
}

.gallery__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.gallery__item {
  display: flex;
  flex-direction: column;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 16px;

  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.gallery__title {
  padding: 0;
  margin: 0;
  margin-top: 16px;

  font-size: @font-small;
  line-height: @medium-line-height;
  font-weight: 700;
}

.gallery__image-link {
  order: -1;
}

.gallery__image {
  display: block;
  width: 100%;
}

.gallery__author {
  padding: 0;
  margin: 0;

  color: #333333;
  font-size: @font-small;
  line-height: @medium-line-height;
  font-weight: 400;
  text-transform: none;
}

.gallery__author-ref {
  font-style: normal;
}

.gallery__like-counter {
  position: relative;

  display: block;
  padding-left: 36px;
  margin-top: 8px;

  color: @main-font-color;
  font-size: @font-small;
  line-height: @medium-line-height;
  font-weight: 700;

  &::before {
    content: "";

    position: absolute;
    top: -2px;
    left: 0;

    display: block;
    width: 22px;
    height: 20px;

    background-image: url("../img/icon-like.svg");
  }
}

@media (min-width: @tablet-width) {
  .gallery {
    padding-left: 60px;
    padding-right: 60px;
  }

  .gallery__text {
    margin: 0 auto;
    margin-top: 30px;

    max-width: 75%;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;

    margin-top: 69px;
  }

  .gallery__item {
    padding: 0;
    width: 50%;
    border-top: none;

    &:first-child {
      width: 100%;

      .gallery__image {
        height: 400px;
      }

      .gallery__like-counter {
        left: 86.5%;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .gallery__image {
    height: 267px;
  }

  .gallery__legend {
    position: relative;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;

    background-color: #f2f2f2;
  }

  .gallery__title {
    margin-top: 0;
  }

  .gallery__like-counter {
    position: absolute;
    top: 21px;
    left: 72.4%;

    &::before {
      left: 5px;
      top: -1px;
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    padding-left: 0;
    padding-right: 0;
  }

  .gallery__text {
    max-width: 40%;
  }

  .gallery__list {
    margin-top: 71px;
  }

  .gallery__item {
    position: relative;
    width: calc(100% / 3);

    &:first-child {
      .gallery__like-counter {
        left: auto;
        right: 21px;
      }
    }
  }

  .gallery__legend {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery__description {
    color: @alt-font-color;
  }

  .gallery__author {
    color: @alt-font-color;
  }

  .gallery__like-counter {
    left: 78%;

    color: @alt-font-color;

    &::before {
      left: 3px;

      background-image: url("../img/icon-like-white.svg");
    }
  }
}
