.html-academy-logo {
  display: inline-block;
  vertical-align: middle;

  width: 27px;
  height: 34px;

  font-size: 0;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}
