.page-footer {
  padding: 23px 20px;
  padding-top: 40px;

  text-align: center;

  background-color: @main-bg-color;
}

.page-footer__social {
  margin-top: 40px;
}

.page-footer__copyright {
  padding: 0;
  margin: 0;
  margin-top: 40px;
}
