.page-footer {
  .container();
  padding-top: 38px;
  padding-bottom: 23px;

  text-align: center;

  background-color: @main-bg-color;
}

.page-footer__hashtag {
  font-size: @font-big;
}

.page-footer__social {
  margin: 0 auto;
  margin-top: 36px;
}

.page-footer__copyright {
  margin: 0 auto;
  margin-top: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 60px;
    padding-right: 60px;
  }

  .page-footer__hashtag {
    margin-top: -4px;
  }

  .page-footer__social {
    margin: 0;
    margin-left: -6px;
  }

  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-left: 120px;
    padding-right: 120px;
  }
}
