.page-main__title {
  padding: 0;
  margin: 0;
  padding: 0 20px;

  font-size: @font-medium;
  line-height: @wide-line-height;
  font-weight: 700;
  text-align: center;
}

.page-main__text {
  padding: 0;
  margin: 0;
  padding: 0 20px;

  font-size: @font-small;
  line-height: @medium-line-height;
  font-weight: 400;
  text-align: center;
}
