.page-main {
  background-color: @main-bg-color;
}

.page-main__title {
  padding: 0;
  margin: 0;
  .container();
  margin-top: 38px;

  font-size: @font-medium;
  line-height: @wide-line-height;
  font-weight: 700;
  text-align: center;
}

.page-main__text {
  padding: 0;
  margin: 0;
  padding-left: 23px;
  padding-right: 23px;
  margin-top: 27px;
  margin-bottom: 27px;

  font-size: @font-small;
  line-height: @medium-line-height;
  font-weight: 400;
  text-align: center;
}
