.site-list {
  padding-left: 0;
  list-style: none;
}

.site-list__link {
  color: inherit;
}

.site-list__item {
  text-align: center;

  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

.site-list__item:last-child {
  border-bottom: none;
  box-shadow: inset 0 -7px 7px 0 rgba(0, 0, 0, 0.2);
}
