.site-list {
  padding: 0;

  list-style: none;

  color: @alt-font-color;
  font-size: @font-small;
  line-height: 40px;
  font-weight: 700;
}

.site-list__link {
  display: block;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;

  color: inherit;
  font-size: @font-medium;

  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  background-color: @theme-color;

  &:hover,
  &:focus {
    background-color: @hover-link-bg-color;
  }

  &:active {
    color: @active-link-text-color;

    background-color: @active-link-bg-color;
  }
}

.site-list__item {
  text-align: center;

  &:last-child .site-list__link {
    border-bottom: none;
    box-shadow: inset 0 -5px 5px -3px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;

    padding-left: 33px;
    padding-right: 12px;

    color: @main-font-color;

    background-color: @main-bg-color;
  }

  .site-list__item {
    border: none;

    &:nth-child(2) {
      margin-right: auto;
      margin-left: 48px;
    }

    &:nth-child(3) {
      margin-left: auto;
      margin-right: 20px;
    }

    &:last-child .site-list__link{
      box-shadow: none;
    }
  }

  .site-list__link {
    padding: 8px 15px;

    font-size: @font-small;

    background-color: transparent;

    border: none;
  }
}
