.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 150px;

  padding: 0;

  list-style: none;
}

.social__item {
  margin-top: 1px;
  margin-bottom: 1px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  &:active svg {
    fill: @active-link-text-color;
  }
}
