.town-advantage-list {
  padding: 0;

  padding-top: 26px;
  padding-bottom: 18px;

  color: @main-font-color;

  background-color: @main-bg-color;
}

.town-advantage-list__item {
  position: relative;

  padding: 0;
  margin: 0;
  .container();
  padding-left: 70px;
  padding-top: 9px;
  padding-bottom: 18px;

  text-align: left;

  &::before {
    position: absolute;
    content: "";

    background-size: contain;
  }

  &--housing {
    &::before {
      left: 22px;
      top: 0;

      width: 39px;
      height: 37px;

      background-image: url("../img/icon-house.svg");
    }
  }

  &--souvenirs {
    &::before {
      left: 25px;
      top: -2px;

      width: 32px;
      height: 38px;

      background-image: url("../img/icon-gift.svg");
    }
  }

  &--food {
    &::before {
      left: 18px;
      top: 4px;

      width: 40px;
      height: 35px;

      background-image: url("../img/icon-burger.svg");
    }
  }
}

.town-advantage-list__title {
  padding: 0;
  margin: 0;

  font-size: @font-medium;
  line-height: @wide-line-height;
}

.town-advantage-list__text {
  padding: 0;
  margin: 0;
  margin-top: 15px;

  font-size: @font-small;
  line-height: @thin-line-height;
}

@media (min-width: @tablet-width) {
  .town-advantage-list__item {
    width: 33%;
  }
}
