.video__title {
  margin: 0 auto;
  padding: 0;
  margin-top: 31px;
  max-width: 87.5%;

  font-size: @font-medium;
  line-height: @wide-line-height;
  font-weight: 700;
  text-align: center;
}

.video__text {
  margin: 0 auto;
  padding: 0;
  margin-top: 27px;
  max-width: 80%;

  line-height: @medium-line-height;
  text-align: center;
}

.video__image {
  display: block;
  margin: 0 auto;
  margin-top: 35px;

  width: 100%;
}

.video__controls {
  position: relative;

  margin: 0 auto;
  width: 87.5%;
  height: 66px;

  background-color: #f2f2f2;
}

.video__volume-control {
  position: absolute;
  top: -45px;

  width: 100%;
  height: 45px;
}

.video__button {
  position: absolute;
  top: 23px;

  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;

  &--replay {
    left: 26px;
  }

  &--subtitles {
    right: 74px;
  }

  &--fullscreen {
    right: 23px;
  }
}

.video__button-icon {
  fill: #5c6870;
}

@media (min-width: @tablet-width) {
  .video__title {
    margin-top: 67px;

    font-size: 30px;
  }

  .video__text {
    margin-top: 30px;
    max-width: 55%;
  }

  .video__image {
    margin-top: 73px;
    width: 84.5%;

    border-bottom: 1px solid #666666;
  }

  .video__controls {
    top: -93px;

    width: 84.5%;
    height: 92px;

    background-color: rgba(0, 0, 0, 0.6);
  }

  .video__volume-control {
    left: 93px;
    top: 23px;

    width: 60.03%;
  }

  .video__button {
    top: 35px;

    &--replay {
      left: 35px;
    }

    &--subtitles {
      right: 92px;
    }

    &--fullscreen {
      right: 41px;
    }
  }

  .video__button-icon {
    fill: #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .video__title {
    margin-top: 71px;
  }

  .video__text {
    max-width: 37%;
  }

  .video__image {
    margin-top: 71px;
    width: 800px;

    border-bottom: none;
  }

  .video__controls {
    width: 800px;
  }

  .video__volume-control {
    width: 540px;
  }

  .video__button {
    top: 36px;

    &--subtitles {
      right: 94px;
    }

    &--fullscreen {
      right: 43px;
    }
  }
}
