.welcome {
  padding-top: 90px;
  padding-bottom: 79px;

  text-align: center;

  background-color: #b8cfe2;
  background-image:
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-position:
    top 50% left calc(50% + 10px),
    center;
  background-size: cover;
}

.welcome--inner {
  padding-top: 51px;
  padding-bottom: 61px;

  background-position:
    top 50% left calc(50% + 3px),
    center;
}

@media (min-width: @tablet-width) {
  .welcome {
    padding-top: 77px;
    padding-bottom: 85px;
  }

  .welcome__image {
    width: auto;
    height: 350px;
  }

  .welcome--inner {
    padding-top: 94px;
    padding-bottom: 110px;

    & .welcome__image {
      height: 80px;
    }
  }
}
