.welcome {
  padding-top: 90px;
  padding-bottom: 79px;

  text-align: center;

  background-color: #b8cfe2;
  background-image:
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-position:
    bottom 0 left 50%,
    center;
  background-size:
    contain,
    cover;
  background-repeat: no-repeat;
}

.welcome--inner {
  padding-top: 51px;
  padding-bottom: 61px;

  background-position:
    bottom 0 left 50%,
    center;
}

@media (min-width: @tablet-width) {
  .welcome {
    padding-top: 77px;
    padding-bottom: 85px;

    background-image:
      url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/bg-back-tablet@1x.jpg");
  }

  .welcome__image {
    width: auto;
    height: 350px;
  }

  .welcome--inner {
    padding-top: 94px;
    padding-bottom: 110px;

    & .welcome__image {
      height: 80px;
    }
  }
}

@media (min-width: @desktop-width) {
  .welcome {
    background-image:
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
  }

  .welcome--inner {
    padding-top: 102px;
    padding-bottom: 113px;
  }
}
