body {
  padding: 0;
  margin: 0;
  min-width: 320px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  color: #000000;
  font-size: @font-small;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}
