/* Цвета */
@theme-color: #81b3d2;
@main-font-color: #000000;
@alt-font-color: #ffffff;
@main-bg-color: #ffffff;
@active-link-text-color: #88b6d1;
@hover-link-bg-color: #669ec0;
@active-link-bg-color: #5496bd;

@input-bg-color: #f2f2f2;
@hover-input-bg-color: #e5e5e5;
@active-input-bg-color: #ffffff;

/* Шрифты */
@font-small: 14px;
@font-medium: 18px;
@font-big: 21px;
@wide-line-height: 26px;
@medium-line-height: 24px;
@thin-line-height: 21px;

/* Размеры вьюпорта */
@tablet-width: 768px;
@desktop-width: 1200px;
@retina-dppx: 1.5dppx;
